@model CreditCardMS.Models.CustomerConsumingMoney

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerConsumingMoney</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumeMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumeMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalConsumeMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalConsumeMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashBackMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashBackMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsumeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
