@model CreditCardMS.Models.CustomerPaidMoney

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>



<div class="form-horizontal">
    <h4>CustomerPaidMoney</h4>
    <hr />
    <form action="" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group hide">
            <div class="col-md-10">
                <input type="text" name="CustomerId" value="@Session["UserId"].ToString()" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-4">
                Name
            </div>

            <div class="col-md-8">
                <input type="text" value="@Session["UserName"].ToString()" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-4">
                Month Name
            </div>

            <div class="col-md-8">
                @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-4">
                Date
            </div>
            <div class="col-md-8">
                <input type="date" name="PaidDate" class="form-control" required />
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-4">
               Amount
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PaidMoney, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaidMoney, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-lg btn-success" style="margin-left:300px" />
            </div>
        </div>
    </form>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
