@model CreditCardMS.Models.MonthTbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MonthTbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MonthId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
